@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Oswald", sans-serif;
    margin-top: 2rem;
    text-align: center;
    color: rgb(25, 3, 223);
}

div {
    border: 2px dashed rgb(62, 131, 62);
    margin: 60px auto;
    width: 400px;
    height: 300px;
    background-image: url("../../assets/earth.png");
    background-size: cover;
}